
<div class="row">
    <div class="mb-4">
        <h1 class="fw-bold text-dark mb-1">Dashboard</h1>
        <h6 class="text-muted">Bienvenido de vuelta. Aquí tienes un resumen general.</h6>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-3 col-sm-6">
        <app-workflows-activos/>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-3 col-sm-6">
        <app-ejecuciones-hoy/>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-3 col-sm-6">
        <app-tiempo-promedio/>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-3 col-sm-6">
        <app-tasa-exito/>
    </div>
    <div class="col-lg-6">
        <app-ultimas-ejecuciones/>
    </div>
    <div class="col-lg-6">
        <app-workflows-mas/>

    </div>
</div>