<mat-card
    class="lead-conversion-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="title">
            <span class="d-block">
                Ejecuciones Hoy
            </span>
            <h5 class="mb-0">
                1,234
            </h5>
        </div>
        <div class="chart">
            <div id="crm_lead_conversion_chart"></div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <span class="trezo-badge up with-border">
                +54.02%
            </span>
            <!-- <span class="days d-block">
                Last 30 days
            </span> -->
        </div>
    </mat-card-content>
</mat-card>