<mat-card
    class="total-orders-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="title">
            <span class="d-block">
                Tiempo Promedio
            </span>
            <h5 class="mb-0">
                2.3m
            </h5>
        </div>
        <div class="chart">
            <div id="crm_total_orders_chart"></div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <span class="trezo-badge down with-border">
                -1.39%
            </span>
            <!-- <span class="days d-block">
                Last 90 days
            </span> -->
        </div>
    </mat-card-content>
</mat-card>